.card {
  background-color: #fff;
  border-radius: 2px; }
  .card .primary-title {
    margin: 24px 16px 16px 16px; }
    .card .primary-title .title {
      font-size: 24px;
      font-weight: 400; }
    .card .primary-title .subtitle {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.54);
      font-weight: 400; }
  .card .actions {
    padding: 8px; }
  .card .card-supporting-text {
    font-size: 14px;
    margin: 16px; }
  .card .card-actions {
    padding: 8px; }
    .card .card-actions .button {
      margin-bottom: 0;
      color: rgba(0, 0, 0, 0.87); }
  .card .card-content {
    margin: 32px 16px 16px 16px;
    display: block; }
